@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

html,
body {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-gray-420: #E8EDF2;
  --color-blue-420: #4F7896;
  --color-gray-90: #E5E8EB;
}

.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}